# Strings in Python 

#### Strings are -
- an ordered sequence of characters
- enclosed in a pair of single quotes or pair of double quotes
- immutable

#### Empty string

In [1]:
string = ''

string = ""

##### Note - bool() of empty str is always

In [3]:
strg = input("Enter a string - ")
if strg :
    print(strg)
else:
    print("Empty")

Enter a string -

Empty

In [5]:
bool(range(5, 1))

False

#### Defining a string

In [6]:
string = "aero-plane"

### Operations on strings

- Indexing
- Slicing
- Concatenation
- Repeatition
- Membership
- Iteration

#### Indexing in Strings
- Each character in a string has a unique index, starting from 0 for the first character up to n-1 for the last character, where n is the length of the string.

- **Positive Indexing** - Positive indexing starts from 0 and goes up to n-1.
    - Index 0 corresponds to the first character.
    - Index 1 corresponds to the second character, and so on.
      
- **Negative Indexing** - Negative indexing starts from -1 for the last character and goes up to -n for the first character.
    - Index -1 corresponds to the last character.
    - Index -2 corresponds to the second last character, and so on.
      
- **Accessing Substrings** - You can also use slicing to access substrings. The syntax for slicing is `string[start:stop:step]` , where:
    - start is the starting index (inclusive).
    - stop is the ending index (exclusive).
    - step is the step size (optional).

In [7]:
string = "aero-plane"

###### Extract first element from the string

In [8]:
string[0]

'a'

###### Extract 5th element from the string

In [9]:
string[4]

'-'

###### Ex. Extract last element from the string

In [10]:
string[-1]

'e'

###### Ex. Extract first 3 characters from string

In [11]:
string[0 : 3]

'aer'

###### Ex. Extract all characters from index position 3

In [ ]:
string[3 : ]

###### Ex. Extract last 4 characters from the string

###### Reverse of string

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

###### Ex. WAP to check if entered string is a palindrome or not.
`Palindrome` - the string reads same characters left to right or right to left 

Ex - madam

###### Ex. WAP to generate a new string by swapping first and last characers
ex - abcde  -  ebcda

#### `Concatenation` - merging two strings into a single object using the + operator.

#### `Repetition` - The repetition operator * will make multiple copies of that particular object and combines them together.

###### Strings are immutable and cannot be modified

### Built-in Functions

- **len()** - returns length of the string
- **min(), max()**  - returns minimum and maximum element from the string
- **sorted()** - sorts the characters of the string and returns a list

In [ ]:
string = "Mississippi"

len(string)

In [ ]:
min(string)

In [ ]:
max(string)

In [ ]:
sorted(string) # returns a list object

### Strings Methods


- **str.index(`obj`)** - returns index of the first occurence of the character
- **str.count(`obj`)** - returns count of number of occurences of the charcter

- **str.upper()** - returns string of uppercase characters
- **str.lower()** - returns string of lowercase characters
- **str.title()** - returns string of sentence case charaters

- **str.isupper()** - checks if all characters are uppercase
- **str.islower()** - checks if all characters are lowercase
- **str.isdigit()** - checks if all characters are digits
- **str.isalpha()** - checks if all characters are alphabets
- **str.isalnum()** - checks if all characters are either alphabets or digits

- **str.split(`delimiter`)** - splits the string on the mentioned delimiter and returns a list of obtained parts of the string
- **str.replace(`str`, `str`)** - replaces all the mentioned characters with the specified string and returns a new string
- **str.strip(`delimiter`)** - removes whitespace characters from start and end of the string (delimiter can also be specified)
- **`delimiter`.join**(`sequence`) - it is called on a string object which acts as a delimiter to join all string elements in the sequence passed as an argument to join()

### Examples

###### Ex. WAP to convert the given string - 

<p><strong><span style="color: rgb(41, 105, 176);">string = "I am in Python class"</span></strong></p>
<p><strong>o/p -</strong> 'ssalc nohtyP ni ma I'</p>
<p><strong>o/p -</strong> 'I Am In Python Class'</p>

In [ ]:
string = "I am in Python class"

###### Ex. WAP to print foloowing pattern

In [ ]:
*
**
***
****
*****

###### Ex. WAP to replace all vowels in a word with and asterisk.

###### Ex. WAP to accept numbers from user in comma seperated format. Extract the integers and perform their summation

###### Ex. Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '#', except the first char itself. 
Sample String : 'restart'<br>
Expected Result : 'resta#t'

### Sequence objects 
- collection of elements - str, range()
- Container sequences/Objects  - list, tuple, dict, set
 
#### `Operations on Generic Sequences`
    - Membership - in | not in
    - Iteration - for-loop`

#### `Operations on Ordered/Indexed Sequences`
    - Indexing - obj[index_pos]
    - Slicing - obj[start : stop]
    - Concatenation - `+` operator
    - Repeatition - `*` operator

#### `Functions on Generic Sequences`
     - len() - gives the number of elements in the sequence
     - max() - gives the largest element in the sequence
     - min() - gives the smallest element in the sequence
     - sum() - applicable to numeric sequences, returns the sum of all elements in the sequence
     - math.prod() - applicable to numeric sequences, returns the product of all elements in the sequence
     - sorted() - sorts the elements in the sequence in ASC order and returns a list object
     

### Python Sequences and Containers
   
<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: center;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc; padding: 8px;">Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Container Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Sequence Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Element Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Enclosed in</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Immutability</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Duplicates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">str()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">characters</td>
      <td style="border: 1px solid #ccc; padding: 8px;">"" or ''</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">tuple()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">list()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">[]</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">set()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">heterogeneous (immutable objects)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">dict()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - immutable<br>Value - any type</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - No<br>Value - Yes</td>
    </tr>

# Tuples in Python


#### Tuples -
- are Python containers
- are an ordered sequence of mixed data
- enclose elements in a pair of round brackets, separated by commas
- are immutable

#### Defining a tuple

#### Empty Tuple

#### Single value Tuple

### Indexing and Slicing

In [ ]:
fam = ("Rosie", 34, "Sam", 36, "Jonnah", 15, "Jessie", 12)

###### Ex. Extract 1st element from tuple -

###### Ex. Extract last element from tuple -

###### Ex. Extract first 3 elements from tuple -

###### Ex. Extract last 2 element from tuple -

###### Ex. Extract "True" from the given Tuple

In [ ]:
mix_tuple = (('a', 1, True), 234567, 'Science', -5)

### Operations on Tuples
- Iteration
- Membership
- Concatenation
- Repetition

#### `Concatenation` - merging two tuples into a single tuple object using the + operator.

#### `Repetition` - The repetition operator * will make multiple copies of that particular object and combines them together.

##### Tuples are immutable hence cannot be modified

### Built-in functions on Tuples
- **len()** - returns length of the tuple
- **min(), max()**  - returns minimum and maximum element from the tuple
- **sorted()** - sorts the elements of the tuple and returns a list
- **sum()** - applicable to only numeric tuples, returns summation of all the elements int he tuple

In [ ]:
tup = (1, 5, 3, 7, 2, 4)

In [ ]:
len(tup)

In [ ]:
min(tup)

In [ ]:
max(tup)

In [ ]:
sorted(tup)

In [ ]:
sum(tup)

###### Ex. WAP to reverse the tuple

In [ ]:
tup = (1, 4, 3, 2, 6, 5, 8)

### Tuple Methods
- **tup.index(`object`)**  - returns the index position of first occurence of the `object`
- **tup.count(`object`)** - returns the `count` of number of times the object is repeated in the tuple

In [ ]:
tup = ('car', 'bike', 'house',  'car', 'aeroplane', 'train', 'car')

In [ ]:
tup.index('car')

In [ ]:
tup.count('car')

### Unpacking Tuples

### Examples

###### Ex. WAP to print the word in the tuple and its len.

In [ ]:
tup = ('car', 'bike', 'house', 'aeroplane')

###### Ex. WAP to print the tuple and the sum of subtuples

In [ ]:
tup = ((3,9),(1,2,4),(1,4,8),(2,3))

###### Ex. WAP to print sum of all the numbers in above tuple.

<hr><hr>

# Lists in Python 

#### Lists -
- are Python containers
- are an ordered sequence of mixed data
- enclose elements in a pair of square brackets, separated by commas
- mutable

#### Empty List

#### Create a List

In [ ]:
friends = [ 'Ross', 'Monica', 'Joey', 'Chandler']

### Retrive elements from List 

#### Indexing and slicing

###### Ex. Extract first element from the list

###### Ex. Extract second last element from the list

###### Ex. Extract first 3 elements from the list

### Add elements to List

**lst.append(`object`)** - appends element to the end of the list

###### Ex. Append 'Phoebe' to the end of the list

**lst.insert(`object`)** - inserts element at the mentioned index location

###### Ex. Insert 'Rachel' at index position 4

**lst.extend(`seq-obj`)** - always take a sequnce as parameter, appends all the elements from sequence to end of the list.

###### Ex. Extend tuple of new_friends to the end of the friends list

#### Modify elements in List

###### Ex. Replace 'Rosie' with "Amy"

#### Remove elements from a list

**lst.pop()** - deletes the last element from the list

**lst.pop(`index-value`)** - deletes the element at the mentioned `index-value` from the list

**lst.remove(`obj`)** - removes the mention `obj` from the list

#### Using slicing operator to remove multiple element from a list

### Operations on Lists
- Iteration
- Membership
- Concatenation
- Repetition

In [ ]:
list_1 = [1, 2, 3, 4]

#### Conacatenation

#### Repetition

### Built-in functions on Lists
- **len()** - returns length of the list
- **min(), max()**  - returns minimum and maximum element from the list
- **sorted()** - sorts the elements of the list and returns a list
- **sum()** - applicable to only numeric lists, returns summation of all the elements int the list

In [ ]:
numbers = [3, 4, 2, 6, 5, 1]

In [ ]:
len(numbers)

In [ ]:
min(numbers)

In [ ]:
sorted(list_1)

In [ ]:
sum(numbers)

###### Ex. WAP to create a list of 5 colors entered by user and print the list in sorted order

### List Methods

**lst.index(`object`)**  - returns the index position of first occurence of the `object`

In [ ]:
friends = ['Ross', 'Monica', 'Rachel', 'Joey', 'Phoebe']
friends.index("Joey")

**lst.count(`object`)** - returns the `count` of number of times the object is repeated in the list

In [ ]:
friends.count("Joey")

**lst.sort()** - sorts the list object

In [ ]:
friends = ['Ross', 'Monica', 'Rachel', 'Joey', 'Phoebe']
friends.sort()
print(friends)

**lst.reverse()** - reverses the sequence of elements in the list

In [ ]:
friends = ['Ross', 'Monica', 'Rachel', 'Joey', 'Phoebe']
friends.reverse()
print(friends)

### Creating a copy of a list 
#### (Shallow copying and Deep Copying)

<p>In Python, Assignment statements do not copy objects, they create bindings between a target and an object. When we use = operator user thinks that this creates a new object; well, it doesn’t. It only creates a new variable that shares the reference of the original object. Sometimes a user wants to work with mutable objects, in order to do that user looks for a way to create “real copies” or “clones” of these objects. Or, sometimes a user wants copies that user can modify without automatically modifying the original at the same time, in order to do that we create copies of objects.

A copy is sometimes needed so one can change one copy without changing the other. In Python, there are two ways to create copies :</p>

- Deep copy
- Shallow copy

#### Shallow Copy

In [ ]:
lst1 = [2, 8, ["Jane", "Thomas", "Jack"]]

#### Deep Copy

In [ ]:
lst1 = [2, 8, ["Jane", "Thomas", "Jack"]]

###### Ex. Write the program to multiply the two lists

In [ ]:
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]

### Utility Functions

**zip(`lst1`, `lst2`, ...)** - returns a zip object, which is an sequence of tuples where the first item in each passed sequence is paired together, and then the second item in each passed sequence are paired together etc. If the passed sequences have different lengths, the iterator with the least items decides the length of the new iterator.

###### Ex. WAP to iterate over the list and multiply each element in the list with its index value and store them in a new list.

In [ ]:
lst = [1, 3, 2, 5, 4, 6, 10, 2]

**enumerate(`seq-obj`, `start=0`)** - adds counter to an iterable and returns a sequence of tuples (the enumerate object).

###### Ex. WAP to calculate percentage of each student and print in tablular format assuming student ID as 101, 102, 103

In [ ]:
marks = [(50, 60, 75), (80, 76, 98), (55, 74, 67), (74, 83, 92), (85, 45, 97)]
percentage = []

<hr><hr>

# Sets in Python

#### Sets -
- are Python containers
- are an unordered sequence of mixed data (immutable objects)
- encloses elements in a pair of curly brackets, separated by commas
- mutable
- do not allow duplicates
- allow set operations on data

#### Creating a set

In [ ]:
s = {10, 20, 30, 40, 50}
print(s)

#### Empty Set

In [ ]:
set()

##### Note - bool() of empty set is always False

### Add elements to Set

#### set.add(`obj`) 
- adds a new element to the set

In [ ]:
s.add("abcd")
print(s)

#### set.update(`seq`) 
- takes a sequence object as a parameter and adds all the elemnts from the sequence to the set

In [ ]:
s.update([1, 2, 3, 4])
print(s)

### Remove elememnt from sets

#### pop() 
- removes a random element from the set

In [ ]:
s.pop()
print(s)

#### remove(`obj`) 
- removes a specified elemnt from the set, givevs error if the element is not present in the set

In [ ]:
s.remove("abcd")
print(s)

#### discard(`obj`) 
- removes the specified element from the set, it will not give any error if element is not present.

In [ ]:
print(s.discard("abcd"))

### Built-in functions on Sets
- **len()** - returns length of the sets
- **min(), max()**  - returns minimum and maximum element from the set
- **sorted()** - sorts the elements of the set and returns a list
- **sum()** - applicable to only numeric sets, returns summation of all the elements int the set

In [ ]:
set_a = {10, 20, 30, 40, 50, 20}

In [ ]:
len(set_a)

In [ ]:
min(set_a)

In [ ]:
sum(set_a)

In [ ]:
sorted(set_a)

### Operations on Sets
- Iteration
- Membership
- Set Operations
    - Union | Intersection | Difference | Symmetric Difference
    - Disjoint sets
    - Subsets and Supersets

#### Union | Intersection | Difference | Symmetric Difference

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [ ]:
set1 | set2 # union
set1.union(set2)

In [ ]:
set1 & set2 # intersection
set1.intersection(set2)

In [ ]:
set1 ^ set2
set1.symmetric_difference(set2)

In [ ]:
set1 - set2
set1.difference(set2)

#### Disjoint set
- if the two sets have no common elements

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

set1.isdisjoint(set2)

#### Subset | Superset

- If all elemenets of set1 are present in set2 then, 
    - set1 is subset of set2
    - set2 will be superset of set1

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set1.issubset(set2)

In [ ]:
set2.issuperset(set1)

### Examples -

###### Set of members drinking tea and coffee

In [ ]:
drinks_coffee = {"Jane", "Jack", "Sam", "George", "Dori"}

drinks_tea = {"Jack", "Frank", "Cody", "Dori", "Bill"}

###### Ex. Are there any members who drink tea and coffee both? (Yes/No). Display their names

###### Ex. Does all the members who drink tea also drink coffee? (Yes/No). Display their names

###### Ex. WAP to print all the vowels in a string using set theory

###### Ex. WAP to check if the mentioned string is a panagram or not.

In [ ]:
sent = "A quick brown fox jumps over the lazy dog"

###### Ex. WAP to check if password entered by user is satisfying following condions or not -
1. length of password must be >= 8
2. username and password must not be same
3. Password must contain atleast 1 digit, 1 capital alphabet, 1 small alphabet and 1 special character like "!@#$%^&*"

<hr><hr>

# Dictionary in Python

#### Dictionaries are -
- are Python containers 
- are an unordered sequence of mixed data
- Encloses elements in a pair of curly brackets
- elements are stored in the form of {key : value} pairs separated by commas
- keys are always unique and immutable
- values need not be unique and can be of any type
- mutable

#### Empty Dictionary

##### Note - bool() of empty dict is always False

### Creating a dictionary

###### Ex. Create a dictionary consisting of country names and their currencies

### Retriving elements from a Dictionary

###### Ex. Print currency for "India"

###### Ex. Print currency for "Japan"

#### dict.get() - returns the value of the item with the specified key
dictionary.get(keyname, value) <br>
- keyname -	Required. The keyname of the item you want to return the value from <br>
- value -	Optional. A value to return if the specified key does not exist. Default value None

### Adding new element to dictionary

###### Ex. Add Japan and its currency to dictionary

### Modifying dictionary

###### Ex. Modify the currency for USA as "$"

### Updating a dictionary

#### dict.update(`new_dict`) - inserts the specified items to the dictionary

###### Ex. Add contents from new_country dictionary to countries

In [ ]:
new_dict = {"Indonesia" : "IDR", "Singapore" : "SGD", "Thailand" : "Bhat"}

### Remove element from dictionary

#### dict.pop(`key`)  
- removes the specified key an its value from the dictionary

#### dict.popitem()
- randomly removes a key-value pair from dictionary

#### dict.clear()

- removes all the pairs from the dictionary

#### Ex. Write a program to retrieve the capital of 'Germany' from a given dictionary

In [ ]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

### Functions/Operations on Dictionary
- Iteration - for loop, dict.keys(), dict.values(), dict.items()
- Membership
- len(), sorted()

In [ ]:
employees = {'Jane': 70000, 'Rosie': 90000, 'Mary': 40000, 'Sam': 55000, 'George': 76000}

### Creating dictionaries using sequences

###### Ex. WAP to create a dictionary where keys are employee codes starting from 101 and its values are the employee names

In [ ]:
names = ['Jane', 'Rosie', 'Mary', 'Sam', 'George']

###### Ex. WAP to create a dictionary combining the following two lists where name is key and marks as value

In [ ]:
names = ['Jane', 'Rosie', 'Mary', 'Sam', 'George']
salary = [70000, 90000, 40000, 55000, 76000]

###### Ex. WAP to create a dict of employes with emp_id as keys starting from 101 and a tuple of names and their ages.

In [ ]:
names = ['Jane', 'Rosie', 'Mary', 'Sam', 'George']
ages = [40, 30, 44, 25, 56]

###### Ex. WAP to create a dict of names and the total marks(percentage) of each student.

In [ ]:
names = ['Jane', 'Rosie', 'Mary', 'Sam', 'George']
marks = ([70, 65, 32], [90, 76, 98], [40, 55, 78], [50, 87, 67], [76, 72, 89])

<hr><hr>

# Comprehensions in Python

`Comprehensions` are an elegant way to define and create mutable data structures like lists, sets, dictionary based on existing sequences
Syntax – 

`[<expression> for <var> in <sequence> if <condition>]`

1. Identify the sequence
2. Identify condition if any
3. Expression
4. Mutable datastructure

###### Ex. WAP to generate a list of squares of number in range of 1-10

In [ ]:
[i ** 2 for i in range(1, 11)]

###### Ex. WAP to create a list of even number in range of 1-10

###### Ex. WAP to create a dict of number from 1-10 as keys and their squares as values

###### Ex. WAP to add 7% service tax to all the values in the "sales" list

In [ ]:
sales = [290, 500, 800, 650]

###### Ex. WAP to sum all the values in the "sales" tuple

In [ ]:
sales = ("$290", "$500", "$800", "$650")

###### Ex. WAP to extract all the digits from the string using list comprehension

In [ ]:
string = "Current assets is worth 2450000 and current liabilities stands at 1230000"

###### Ex. Extract all the numbers from the string using list comprehension

In [ ]:
string = "Current assets is worth 2450000 and current liabilities stands at 1230000"

###### Ex. WAP to generate a dictionary specifying the elements in lst as even or odd.

In [ ]:
lst = [2, 4, 3, 5, 6, 7]

<hr><hr>

# Functions in Python

A function is set of statements that take input in the form of parameters, performs computation on the input and returns a result in the form of return statement

#### Syntax – 

def `function-name` (`parameters if any`):
	
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *# function code*
	
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `return` statement
    

##### Note : It is a best practice to avoid usage of input() and print() functions in a function definition

###### WAF to calculate factorial of a number

### Function Arguments

- Required Positional Arguments 
- Default Arguments 
- Variable length Arguments
- Key-word Arguments 
- Variable-length Keyword Arguments

#### Required Positional Argument

#### Default Argument

#### Variable-length Argument

#### Key-word Argument

#### Variable-length Keyword Argument